
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 35px 0;
	
}

.header__logo{
	display: flex;
	align-items: center;
}

.header__icon{
	width: 40px;
	height: 40px;
	margin-right: 5px;
}

.header__name{
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}
.header__menu{
	margin-left: 60px;
}
@include breakpoint($tablet-bp){
	.header__menu{
		position: fixed;
		right: -100%;
		top: 0;
		z-index: 1;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: $red;
		transition: all 0.3s ease 0s;
	}
	.header__menu.active{
		right: 0;
	}
	
}
.header__link{
	font-family: Raleway;
	display: inline-block;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	margin: 0px 20px;
	color: $black;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	transition: 0.2s ease-in-out;
	position: relative;
	&::after{
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 3px;
		background-color: $blue;
		transition: 0.2s ease-in-out;
	}
	&:hover{
		color: $blue;
		&::after{
			width: 100%;
		}
		
	}
	@include breakpoint($tablet-bp){
		font-size: 25px;
		display: flex;
		flex-direction: column;
		margin: 100px 0px 80px 80px;
		&:hover{
			color: $blue;
			&::after{
				display: none;
			}
			
		}
	}
}

