
<section class="section section--bg">
	<div class="container decor">
		<header class="header">
			<a href="#" class="header__logo">
				<div class="header__icon">
					<img src="assets/images/logo.png">
				</div>
				<div class="header__name">Go<span class="span__red">Corona</span></div>
			</a>
				<nav class="header__menu ">
					<a class="header__link " href="#">Home</a>
					<a class="header__link " href="#">features</a>
					<a class="header__link " href="#">support</a>
					<a class="header__link " href="#">contact us</a>
				</nav>
					<button class="btn blue">download</button>
					<div class="burger ">
						<span class="burger__menu"></span>
					</div>
		</header>
			<div class="title">
				<div class="title__inner">
					<h1 class="title__h1">Take care of yours <br> family’s <span class="span__blue">health.</span></h1>
					<div class="title__subtitle">All in one destination for COVID-19 health queries. <br>  Consult 10,000+ health workers about your concerns.</div>
					<button class="btn red">GET STARTED</button>
				</div>
				<img class="title__img" src="assets/images/foto.png">
			</div>
				<a href="#" class="title__video">
					<div class="video__image">
						<img src="assets/images/video.png" alt="video">
					</div>
					<div class="title__video-content">
						<div class="title__video-inner">Stay safe with GoCorona</div>
						<div class="title__video-text">Watch Video</div>
					</div>
				</a>
	</div>
</section>
